@import "tailwindcss";

@theme {
  --color-background: #f6f1e7;
  --color-card: #e7e1cf;
  --color-primary: #a5b08a;
  --color-button: #78866b;
  --color-button-hover: #59664f;
  --color-text: #3f473c;
  --color-accent: #d6c9a5;
  --font-heading: "Cinzel", serif;
  --font-body: "Lora", serif;
}

body {
  @apply bg-background text-text font-body;
}
